manifest {
    mainScript = 'vast-tools.nf'
    gitmodules = 'vast-tools'
}

container = "docker://skptic/vasttools@sha256:74d304ce719ead35afe9cceb2be2f6c5abf9024911fe17f358882cf494501423"

profiles {
    crg {
        process {
          executor='crg'
          queue='short-sl65'
          memory='32G'
          cpus='1'
        }
    }
}

env {
    PATH="$baseDir/vast-tools:$PATH"
}
